{%- extends "bootstrap/base.html" %}

{% block title %}Toilter{% endblock %}

{% block navbar %}

    <div class="container">
        <div class="header clearfix">
            <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
            </nav>
            <h3 class="text-muted">Toilter</h3>
        </div>
    </div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-warning">
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endwith %}

{% endblock %}

{% block content %}
{% endblock %}
